# Intro python data science
## Práctica 09: exportar dataframe

Vamos a ver cómo exportar dataframe de pandas:
* Punto 1: En formato excel
* Punto 2: En formato csv

# Punto 0:

In [2]:
# importar pandas
import pandas as pd

In [3]:
# datos de RRSS 2020
fbk = ['Facebook', 2449, True, 2006]
twt = ['Twitter', 339, False, 2006]
ig = ['Instagram', 1000, True, 2010]
yt = ['YouTube', 2000, False, 2005]
lkn = ['LinkedIn', 663, False, 2003]
wsp = ['WhatsApp', 1600, True, 2009]

In [4]:
lista_rrss = [fbk, twt, ig, yt, lkn, wsp]

In [5]:
# crear dataframe a partir de listas
df_rrss=pd.DataFrame(lista_rrss,
            columns = ['Nombre', 'Cantidad', 'ES_FBK', 'Anio'])
df_rrss

      Nombre  Cantidad  ES_FBK  Anio
0   Facebook      2449    True  2006
1    Twitter       339   False  2006
2  Instagram      1000    True  2010
3    YouTube      2000   False  2005
4   LinkedIn       663   False  2003
5   WhatsApp      1600    True  2009

# Punto 1:

In [6]:
# Exportar df a excel
df_rrss.to_excel('data_rrss.xlsx')

In [7]:
# Exportar df a excel sin indices
df_rrss.to_excel('data_rrss_noind.xlsx', index=False)

# Punto 2:

In [10]:
# Expotar df a csv
df_rrss.to_csv('data_rrss.csv')

In [11]:
# Expotar df a csv sin indices
df_rrss.to_csv('data_rrss_noind.csv', index=False)

In [12]:
# Expotar df a csv sin indices y con puntos y comas
df_rrss.to_csv('data_rrss_pc.csv', index=False, sep=';')

In [ ]:
# Recomendacion para codificación

In [13]:
df_rrss.to_csv('data_rrss_utf8.csv', encoding='utf-8')

# Gracias!
## Espero que te lleves algo útil de este notebook 😀

Para más videos de programación para ciencia de datos

https://www.youtube.com/c/RafaGonzalezGouveia/

Si quieres realizar alguno de los cursos online de pago, ve a:

https://cursos.gonzalezgouveia.com